.menu {
    margin: 10px 10px 80px 10px;
}
.menu-horizontally {
    display: inline-block;
}

.menu-vertically {
    display: block;
    margin-bottom: 0;
    padding: 5px;
}

.input_class {
    background: rgba(255, 255, 255, 0.0);
    cursor: pointer;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navigation {
    border: 1px solid white;
    width: 150px;
}

.sort {
    border: 0;
}

.input_class:hover {
    text-decoration: underline;
}